<section class="dashboard_section">
  <table class="table">
    <thead>
    <tbody>
    <h2>Latest Rants</h2>
    </thead>
    <tbody style="max-width: 100px">
    <tr>
      <% @rants.each do |rant| %>
        <td><%= link_to rant.user.first_name, user_path(rant.user) %>
          <br>
          <img src=<%= rant.user.image %> width="50" height="50"/><br>
          <%= follow_link (rant.user) %></td>
        <td>
          <%= link_to truncate(rant.rant, :length => 300 ), rant_path(rant.id) %>
          </td>
        <td style="float: right; margin-top: 3.8em">
          <%= favorite_link(rant) %>
          <%= rant.favorited_count %>
        </td>
        </tr>
      <% end %>
      </tbody>
  </table>
  <table class="table">
    <thead>
    <tbody>
    <h2>My Rants</h2>
    </thead>
    <tbody>
    <tr>
      <% current_user.rants.each do |rant| %>
        <td><%= link_to rant.user.first_name, edit_user_path(current_user) %><br>
        <img src=<%= rant.user.image %> width="50" height="50"/><br></td>
        <td><%= truncate(rant.rant, :length => 300) %> <%= link_to "Delete", rant_path(rant.id), :method => :delete %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
</section>