<%= link_to "Logout", root_path, :id => "reg-btn", :class => "inbox-sf-add-btn tip" %>

<section class="dashboard_section_left">

  <img style="padding-top: 1em" src=<%= current_user.image %> width="150" height="150"/>

  <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
  <%= form_for @rant, url: rants_path(current_user.id) do |f| %>

    <div>
      <%= f.text_field :rant_title, autofocus: true, placeholder: "Rant about what?" %>
    </div>
    <div>
      <%= f.text_area :rant, autofocus: true, placeholder: "Rant about something or at someone..." %>
    </div>
    <div>

      <%= f.submit "Rant", id: "register_button" %>
    </div>
  <% end %>
</section>

<section class="dashboard_section">

  <table class="table">
    <thead>
    <tbody>
    <h2>Latest Rants</h2>
    </thead>
    <tbody>
    <tr>
      <% @rants.each do |rant| %>
        <td><%= link_to rant.user.first_name, user_path(rant.user) %>
          <br>
          <img src=<%= rant.user.image %> width="50" height="50"/><br>
          <%= follow_link (rant.user.id) %></td>

        <td><%= rant.rant_title %></td>
        <td>
          <%= rant.rant %>
          <%= link_to "Delete", rant_path(rant.id), :method => :delete %>
        </td>
        </tr>
      <% end %>
      </tbody>
  </table>
</section>
<section class="dashboard_bottom_section">

  <h2>My Rants</h2>


</section>