<section class="dashboard_section">
  <h2 style="border-bottom: solid 1px">Favorites</h2>

  <div>
    <% if @favorites != nil %>
      <% @favorites.each do |fav| %>
        <div>
          <%= link_to fav.rant.user.first_name, user_path(fav.rant.user) %>
          <br>
          <img src=<%= fav.rant.user.image.url %>width="100" height="100"/>
          <br>
          <%= follow_link (fav.rant.user) %>
        </div>

        <div>
          <%= truncate(fav.rant.rant, :length => 300) %>
          <%= favorite_link(fav.rant) %>
        </div>
      <% end %>
    <% end %>
  </div>


</section>