<section>

  <%= form_for @user do |f| %>

    <% if @user.errors.present? %>
      <div class="error">
        <h3>There was an error</h3>
        <ul class="error-list">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
      <%= f.password_field :password, autofocus: true, placeholder: "Password" %>

      <div style="font-size: 12px"><%= "Upload Profile Picture" %>
      <%= f.file_field :image %></div>


    </div>

    <div>
      <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>

      <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name" %>
    </div>

    <div>
      <%= f.text_area :bio, autofocus: true, placeholder: "Bio" %>
    </div>

    <div style="font-size: 12px" >"How often do you rant?"</div>
    <div id="radio_btn" style="font-size: 12px">
      <%= radio_button_tag(:frequency, "Daily") %>
      <%= label_tag(:frequency, "Daily") %>
      <%= radio_button_tag(:frequency, "Weekly") %>
      <%= label_tag(:frequency, "Weekly") %>
      <%= radio_button_tag(:frequency, "Monthly") %>
      <%= label_tag(:frequency, "Monthly") %>
    </div>

    <div>
      <%= f.submit "Register", id: "register_button" %>
    </div>

  <% end %>
</section>