<%= notice %>
<%= link_to "Logout", root_path, :id => "reg-btn", :class => "inbox-sf-add-btn tip" %>

<section>
<h1><%= (@user).first_name %> <%= (@user).last_name %></h1>

<div><%= (@user).bio %></div>

<div><%= link_to "Edit", edit_user_path(params[:id]) %></div>

<table class="table">
  <thead>
  <tbody>
  <h3>My Rants</h3>
  </thead>
  <tbody>
    <tr>
      <% @rants.each do |rant| %>
    <td><%= rant.rant_title %></td>
    </tr>
    <tr>
      <td>
        <%= rant.rant %>
        <%= link_to "Delete", user_rant_path(rant.user_id, rant.id), :method => :delete %>
      </td>
    </tr>
    <tr>


    </tr>
  <% end %>
  </tbody>
</table>

</section>


