<%= notice %>
<%= button_to "Logout", root_path, :id => "reg-btn",
              :class => "inbox-sf-add-btn tip", :method => :get %>


<h1><%= (@user).first_name %> <%= (@user).last_name %></h1>

<div><%= (@user).bio %></div>

<div><%= link_to "Edit", edit_user_path(params[:id]) %></div>

<h3>My Rants</h3>

<% @rants.each do |rant| %>


<div><%= rant.user_id.rant %></div>

<% end %>

