<%= notice %>
<%= button_to "Logout", root_path, :id => "reg-btn",
              :class => "inbox-sf-add-btn tip", :method => :get %>


<h1><%= (@user).first_name %> <%= (@user).last_name %></h1>

<div><%= (@user).bio %></div>

<div><%= link_to "Edit", edit_user_path(params[:id]) %></div>

<table class="table">
  <thead>
  <tbody>
  <h3>My Rants</h3>
  </thead>
  <tbody>
  <% @rants.each do |rant| %>
    <tr>
      <td><%= rant.rant_title %></td>
    </tr>
    <tr>
      <td><%= rant.rant %></td>
    </tr>
    <tr>

        <%= link_to "Delete", user_rant_path(rant),
                    :method => :delete,
                    :data => {:confirm => "Are you sure?", :disable_with => "Deleting..."} %>
      </tr>
  <% end %>
  </tbody>
</table>




