<section class="dashboard_section">

  <div>
    <h1><%= (@user).first_name.capitalize %> <%= (@user).last_name.capitalize %></h1>
    <%= follow_link @user %>
  </div>
  <div>
    <img src=<%= @user.image %> width="100" height="100"/>

    <div style="font-size: 40px" sty><%= (@user).frequency %></div>

    <br>
  </div>
  <div>
    <%= (@user).bio %>
  </div>
  <table class="table">
    <thead>
    <tbody>
    <h3>My Rants</h3>
    </thead>
    <tbody>
    <tr>
      <% @rants.each do |rant| %>
        <td><%= rant.rant_title.upcase %></td>
        <td>
          <%= link_to truncate(rant.rant, :length => 300), rant_path(rant.id) %>
          <%= favorite_link(rant) %>
          <%= rant.favorited_count %>
        </td>
        </tr>
      <% end %>
      </tbody>
  </table>
  <div style="height: 80px"></div>
</section>


