<section  class="dashboard_section">


<h1 style="border-bottom: 1px solid"><%= @rant.rant_title %></h1>
  <div style="text-decoration: none"><%= truncate(@rant.rant, :length => 300) %></div>
  <div style="float: right; margin-top: 3.8em">


    <%= favorite_link(@rant) %>
    <%= @rant.favorited_count %>
  </div>




  <% @user.each do |user| %>
  <div><%=(user).first_name %> <%= (user).last_name %></div>
  <%end%>



</section>