<section class="dashboard_section">
  <%= form_tag :search, method: :get do %>
    <%= label_tag(:query, "Search for:") %>
    <%= text_field_tag :query %>
    <%= submit_tag "SEARCH" %>
  <% end %>
  <div>
    <h2>User Results:</h2>
    <% @user_results.each do |user_result| %>

      <div>
        <%= user_result.first_name %>
        <br>
        <img src=<%= user_result.image %> width="50" height="50"/><br>
        <%= follow_link (user_result) %>
      </div>
    <% end %>


    <h2>Rant Results:</h2>
    <% @rant_results.each do |rant_result| %>

      <%= rant_result.rant %>

    <% end %>
  </div>

</section>
