<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


  <!--<#% if current_user %>-->
  <!--<h1>Wtf</h1>-->

  <!--<#% else %>-->
  <!--<#%= link_to "Login", signin_path, :class => "login_link", :method => :get %>-->

  <!--<#% end %>-->


</head>
<nav>
  <div class="navbar-brand">

    <%= link_to "Rant.ly", dashboard_path(current_user), class: "non_link" %>
  </div>
  <div></div>
</nav>

<body>

<%= yield %>

</body>
</html>