<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<nav>
  <div class="navbar-brand">

    <%= link_to "Rant.ly", root_path, class: "non_link" %>
  </div>
  <div></div>
</nav>

<body>


<% if current_user %>
  <div>
    <%= link_to "Logout", signout_path, :id => "reg-btn"%>
  </div>


<% else %>
  <div>
    <%= link_to "Login", signin_path, :class => "login_link" %>

    <%= link_to "Join", new_user_path, :id => "reg-btn" %>
  </div>


<% end %>


<%= yield %>

</body>
</html>
