<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<% if current_user %>


  <nav>
    <div class="navbar-brand">

      <%= link_to "Rant.ly", dashboard_path(current_user.id), class: "non_link" %>
    </div>
    <div></div>
  </nav>

  <body>

  <div>
    <%= link_to "Logout", signout_path, :id => "reg-btn" %>
  </div>

  <div class="nav_middle">

    <%= link_to "Dashboard", dashboard_path(current_user.id) %> |

    <%= link_to "Following", following_relationship_path(current_user.id) %> |

    <%= link_to "Favorites", rant_favorites_path(current_user.id) %> |

    <%= link_to "Search", signout_path %>

  </div>

  <section class="dashboard_section_left">

    <img style="padding-top: 1em" src=<%= current_user.image %> width="150" height="150"/>

    <h1><%= link_to current_user.first_name, edit_user_path(current_user)  %></h1>

    <%= form_for @rant, url: rants_path(current_user.id) do |f| %>
      <% if @rant.errors.present? %>
        <div class="error">
          <h3>There was an error</h3>
          <ul class="error-list">
            <% @rant.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.text_field :rant_title, autofocus: true, placeholder: "Rant about what?" %>
      </div>
      <div>
        <%= f.text_area :rant, autofocus: true, placeholder: "Rant about something or at someone..." %>
      </div>
      <div>
        <%= f.submit "Rant", id: "register_button" %>
      </div>
    <% end %>
  </section>

<% else %>

  <nav>
    <div class="navbar-brand">

      <%= link_to "Rant.ly", root_path, class: "non_link" %>
    </div>
    <div></div>
  </nav>
  <div>
    <%= link_to "Login", signin_path, :class => "login_link" %>

    <%= link_to "Join", new_user_path, :id => "reg-btn" %>
  </div>

<% end %>

<%= yield %>

</body>
</html>
